<div class="secao1 limitador">
    <h1>Texto Legal!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse erat nulla, mattis et maximus in, molestie at felis.
        Vestibulum ac eros vel est commodo egestas.
        Fusce blandit, purus sit amet aliquam tincidunt, nisl mauris euismod nisi, euismod pulvinar dolor metus sit amet orci.
        Praesent lectus magna, porta a volutpat ac, egestas a dui.
        Quisque semper, ex eget pretium faucibus, ante ipsum dictum nisl, sed iaculis ante nisi vehicula arcu.
        Praesent at feugiat dolor, placerat auctor ligula.
        Cras venenatis viverra nisi eu volutpat.
    </p>
</div>
<div class="secao2 limitador">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Teste</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse erat nulla, mattis et maximus in, molestie at felis.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="/public/foto2.jpg" width="400" class="limiteimg">
            </div>
        </div>
    </div>
</div>
