
.limitador {
    max-width: 1000px;
    margin: 0px auto 0px auto;
}
.limiteimg {
    max-width: 100%;
}

.textinho{
    font-family: Helvetica;
    color: #FFF;
}

.secao1 {
    background-image: url('/public/fundo.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 150px 50px 150px 50px;
    font-family: Helvetica;
    color: #FFF;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #000;
}
.secao2 {
    color: white;
    text-align: center;
    padding: 100px 50px 100px 50px;
    background-image: url('/public/fundoPreto.jpg');
    background-size: cover;
    background-position: center center;
}

.titulo{
    color: #FFF;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #000;
    font-size: 25px;
}

.textinho2{
    color: #FFF;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #000;
    font-size: 20px;
}

secao3{
    color: white;
    text-align: center;
    padding: 100px 50px 100px 50px;
    background-image: url('/public/fundoPreto.jpg');
    background-size: cover;
    background-position: center center;
}